.panel-default {
   padding:20px;
}

.btn-large {
   font-size:24px;
}

.item-add-table td {
   line-height: 50px!important;
}

.input-large {
   font-size:24px!important;
   padding:20px!important;
}

.transaction-holder {
   height:500px;
   overflow:scroll;
}

input[type=checkbox] {
    display: inline-block;
    box-shadow: none;
    width:30px;
    height:30px;
    position: relative;
    top:10px;
    margin-left:20px;
    -webkit-appearance:none;
}

input:checked {
   background:#337ab7;
   outline: none;
   border:none;
}

input:focus {
    outline: none!important;
    box-shadow: none!important;
}

#search {
   display: inline-block;
   width:300px;
}
