.panel-default {
   padding:20px;
}

.btn-large {
   font-size:24px;
}

.item-add-table td {
   line-height: 50px!important;
}

.input-large {
   font-size:24px!important;
   padding:20px!important;
}

.transaction-holder, .panel-scroll {
   height:500px;
   overflow:scroll;
}

input[type=checkbox] {
    display: inline-block;
    box-shadow: none;
    width:30px;
    height:30px;
    position: relative;
    top:10px;
    margin-left:20px;
    -webkit-appearance:none;
}

input:checked {
   background:#337ab7;
   outline: none;
   border:none;
}

input:focus {
    outline: none!important;
    box-shadow: none!important;
}

#search {
   display: inline-block;
   width:300px;
}

.management-items-table th {
   cursor: pointer;
}

.management-items-table th:hover {
   text-decoration: underline;
}

#barcode {
   max-width:100%;
}

.green-dot {
   width:10px;
   height:10px;
   background:green;
   border-radius: 5px;
   display:inline-block;
}

.red-link {
   color:#d9534f;
}

.red-link:hover {
   color:#d9534f;
}

.header a {
   color:inherit;
   text-decoration: none;
}

.blackout {
   position: fixed;
   top:0;
   left:0;
   height:100%;
   width:100%;
   background:rgba(0,0,0,0.7);
}

.blackout-panel {
   margin-top: 40px;
   padding:20px;
}

.payment-method {
   padding:20px;
   border:1px solid #B7B7B7;
   border-radius: 5px;
   margin-bottom: 20px;
}

.payment-method:hover {
   background:#337ab7;
   color:#FFF;
   border: 1px solid #FFF;
   cursor: pointer;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #FFF;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #FFF;
}
