<br><br><br>
<div class='blackout'>
   <div class='container'>
   <div class='row'>
      <div class='col-sm-12 blackout-panel'>
      </div>
</div>
</div>
</div> <!--end container-fluid-->
<script>
$(".blackout").hide();
function onClickNew(){
   Supermarket.createTransaction(function (id){
      Cookies.set('currentTransaction', id);
      window.location.href = "/items";
   });
}

function onClickAddItem(id, weighted){
   Cookies.set("currentItem",id);
   if (weighted){
      //Supermarket.loadPanel("weight-selector");
      Supermarket.loadPanel("each-selector");
   } else {
      Supermarket.loadPanel("each-selector");
   }
}

function onClickAddQuantity(id, quantity){
   Supermarket.addItem(id,quantity,function(){
      Supermarket.loadPanel("transaction-details");
   });
}
</script>
</body>
</html>
