<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/api.js"></script>
  <script src="assets/js/cookies.js"></script>
  <script src="assets/js/supermarket.js"></script>
  <script src="assets/js/barcode.js"></script>
</head>
<body style='background:#FFF'>

  <!--Container-->
  <div class="container">
     <br><br>
    <div class="row">
      <div class='col-sm-6'>
         <img src='assets/images/rmit.jpg' height='40px' style='float:left;margin-right:20px;' />
         <h4>Supermarket Support System</h4>
      </div>
      <div class='col-sm-6'>
         {{#if inATransaction}}
            <a href='/items'><button class='btn btn-primary'>Current Transaction</button></a>
         {{/if}}
         <button class='btn btn-primary' onclick='onClickNew()'>New Transaction</button>
         <a href='/management'><button class='btn btn-primary'>Management</button></a>
      </div>
   </div>
   <div class='row'>
      <div class='col-sm-12'>
         <hr>
      </div>
   </div>
