<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/api.js"></script>
  <script src="assets/js/cookies.js"></script>
  <script src="assets/js/supermarket.js"></script>
  <script src="assets/js/barcode.js"></script>
  <script type="text/javascript" src="assets/js/picker.js"></script>
  <script type="text/javascript" src="assets/js/picker.date.js"></script>
  <script src="assets/js/moment.js"></script>
  <script src="assets/js/chart.min.js"></script>
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/default.date.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

</head>
<body style='background:#FFF'>

  <!--Container-->
  <div class="container">
     <br><br>
    <div class="row header">
      <div class='col-sm-6'>
         {{#if inATransaction}}
         <a href="/items">
            <img src='assets/images/rmit.jpg' height='40px' style='float:left;margin-right:20px;' />
            <h4>Supermarket</h4>
         </a>
         {{else}}
         <a href="/">
            <img src='assets/images/rmit.jpg' height='40px' style='float:left;margin-right:20px;' />
            <h4>Supermarket Support System</h4>
         </a>
         {{/if}}
      </div>
      <div class='col-sm-6'>
         {{#if inATransaction}}
            <a href='/items'><button class='btn btn-primary'>Current Transaction</button></a>
         {{/if}}
         <a href='/new'><button class='btn btn-primary'>New Transaction</button></a>
         <a href='/management'><button class='btn btn-primary'>Management</button></a>
      </div>
   </div>
   <div class='row'>
      <div class='col-sm-12'>
         <hr>
      </div>
   </div>
