<div class='row'>
   <div class='col-sm-6' id='panel-holder'>

   </div>
   <div class='col-sm-6'>
      <div class="panel panel-default">
         <button class='btn btn-primary btn-large' onclick='Supermarket.loadPanel("add-item")'>Add Item</button>
         <br><br>
         <button class='btn btn-primary btn-large' onclick='Supermarket.loadPanel("lookup-item")'>Lookup Item</button>
         <br><br>
         <button class='btn btn-primary btn-large'>Log in</button>
         <br><br>
         <button class='btn btn-primary btn-large' onclick='Supermarket.loadPanel("call-staff-member")'>Call Staff Member</button>
      </div>
   </div>
</div>
<script>
   Supermarket.loadPanel("transaction-details");
</script>
