<ul class="nav nav-tabs">
  <li class='active'><a id='tab-item-management' onclick='loadTab("item-management")'>Items</a></li>
  <li><a id='tab-transaction-management' onclick='loadTab("transaction-management")'>Transactions</a></li>
  <li><a id='tab-specials' onclick='loadTab("specials")'>Specials / Promotions</a></li>
  <li><a id='tab-reports' onclick='loadTab("reports")'>Reports</a></li>
  <li><a id='tab-orders' onclick='loadTab("orders")'>Orders</a></li>
  <li><a id='tab-customer-management' onclick='loadTab("customer-management")'>Customers</a></li>
  <li><a id='tab-user-management' onclick='loadTab("user-management")'>Users</a></li>
  <li><a id='tab-settings' onclick='loadTab("settings")'>Settings</a></li>
</ul>
<br>
<div class='row'>
   <div class='col-sm-12'>
      <div id='panel-holder'>

      </div>
   </div>
</div>
<script>
function loadTab(tab){
   Supermarket.loadPanel(tab);
   $(".nav-tabs li").removeClass("active");
   tab = tab.split("?")[0];
   $("#tab-" + tab).parent().addClass("active");
}
Supermarket.loadPanel("item-management");
</script>
