<div class='row'>
   <div class='col-sm-12'>
      <h3>Enter Customer Number</h3>
      <br>
      <input class='form-control' type='number' id='customer-number' />
      <br>
      <button class='btn btn-primary btn-large'>Start</button>
   </div>
</div>
<script>
Supermarket.say("Please enter or scan your customer number");
$("#customer-number").focus();
setInterval(function(){
   $("input").on('blur', function(){
      setTimeout(function(){
         if ($(document.activeElement).first().prop("nodeName") != "INPUT"){
            $("#customer-number").focus();
         };
      }, 10);
   });
}, 500);

$("#customer-number").keypress(function(e){
   if (e.which == 13){
      $("#customer-number").val("");
   }
});
</script>
