<button class='btn btn-primary' onclick='loadPageOfTransactions({{pageAmount}},{{pageOffset}})'>Back</button>
<br><br>
<div class='row'>
   <div class='col-sm-9'>
      <h4>Edit Transaction - {{transaction.id}}</h4>
      <br>
      <b>Date: </b>{{niceDateTime transaction.date}}
      <br>
      <b>Customer Number: </b>{{transaction.customerNo}}
      <br>
      {{#if transaction.paid}}
      <b>Payment Method: </b>{{transaction.paymentType}}
      {{/if}}
      <hr>
      <div class='row'>
         <div class='col-sm-3'>
            <h2>${{formatDecimal transaction.total}}</h2>
            <b>Transaction Total</b>
         </div>
         <div class='col-sm-3'>
            <h2>${{formatDecimal transaction.gst}}</h2>
            <b>G.S.T</b>
         </div>
         <div class='col-sm-3'>
            <h2>{{transaction.noTransactionItems}}</h2>
            <b>Number of Items</b>
         </div>
         <div class='col-sm-3'>
            <h2>{{{paymentStatus transaction.status}}}</h2>
            <b>Status</b>
         </div>
      </div>
      <br>
      <hr>
      <table class="table table-hover">
         <thead>
            <tr>
               <th>Qty</th>
               <th>Product Name</th>
               <th>Product No</th>
               <th>Price</th>
               <th>Unit</th>
               <th>Subtotal</th>
               {{#if transaction.open}}
               <th>Remove</th>
               {{/if}}
            </tr>
         </thead>
         <tbody>
            {{#each transaction.items}}
            <tr class='text-right'>
               <td class='text-left'>{{qty}}</td>
               <td class='text-left'><a href='#' onclick='Supermarket.showItemDetails({{item.id}})'>{{item.name}}</a></td>
               <td>{{item.id}}</td>
               <td>{{formatDecimal item.price}}</td>
               <td>{{item.unit}}</td>
               <td>{{formatDecimal lineTotal}}</td>
               {{#if ../transaction.open}}
               <td>
                  <a href='#' onclick='removeTransactionItem({{item.id}})' class='red-link'>Remove Item</a>
               </td>
               {{/if}}
            </tr>
            {{#each specials}}
            <tr class='text-right grey'>
               <td></td>
               <td class='text-left'>{{name}}</td>
               <td></td>
               <td></td>
               <td></td>
               <td>-{{formatDecimal amount}}</td>
               {{#if ../../transaction.open}}
               <td></td>
               {{/if}}
            </tr>
            {{/each}}
            {{/each}}
         </tbody>
      </table>
   </div>
   <div class='col-sm-3'>
      <h5><b>Transaction Actions</b></h5>
      <br><br>
      {{#if transaction.open}}
      <button class='btn btn-danger' onclick='onClickDelete()'>Cancel Transaction</button>
      {{/if}}
   </div>
</div>
<script>

function onClickDelete(){
   API.post("transaction/{{transaction.id}}/delete", {}, function(){
      loadPageOfTransactions({{pageAmount}},{{pageOffset}});
   });
}

function removeTransactionItem(id){
   API.post("transaction/{{transaction.id}}/items/remove", {id: id}, function(){
      Supermarket.loadPanel("transaction/{{transaction.id}}/edit?pageAmount={{pageAmount}}&pageOffset={{pageOffset}}");
   });
}
</script>
