<div class='panel panel-default'>
   <h3>Item Management</h3>
   <br>
   <div class='row'>
      <div class='col-sm-6'>
         <button class='btn btn-primary' onclick='Supermarket.loadPanel("item-create?pageAmount={{pageAmount}}&pageOffset={{offset}}")'>Create Item</button>
      </div>
      <div class='col-sm-6 text-right'>
         <input class='form-control' type='text' id='search' />
         <button class='btn btn-primary' onclick='onClickSearch()'>Search</button>
      </div>
   </div>

   <br><br>
   <table class="table table-hover management-items-table">
      <thead>
         <tr>
            <th onclick='sortItemsBy("name")' id='sort-name'>Product Name</th>
            <th onclick='sortItemsBy("id")' id='sort-id'>Product No</th>
            <th onclick='sortItemsBy("price")' id='sort-price'>Price</th>
            <th>Unit</th>
            <th onclick='sortItemsBy("soh")' id='sort-soh'>SOH</th>
            <th>Edit</th>
         </tr>
      </thead>
      <tbody>
         {{#each items}}
         <tr>
            <td>{{name}}</td>
            <td>{{id}}</td>
            <td>{{formatDecimal price}}</td>
            <td>{{unit}}</td>
            <td>{{soh}}</td>
            <td>
               <a href='#' onclick='Supermarket.loadPanel("item/{{id}}/edit?search={{../search}}&pageAmount={{../pageAmount}}&pageOffset={{../offset}}&sort={{../sort}}")'>Edit</a>
            </td>
         </tr>
         {{/each}}
      </tbody>
   </table>
   <br><br>
   <hr>
   <div class='row'>
      <div class='col-sm-4'>
         {{#if showBackButton}}
         <button onclick='loadPageOfItems("{{search}}",{{pageAmount}}, {{backOffset}}, "{{sort}}")' class='btn btn-primary'>Back</button>
         {{/if}}
      </div>
      <div class='col-sm-4 text-center' style='line-height:40px;'>
         Page {{pageNumber}}
      </div>
      <div class='col-sm-4 text-right'>
         {{#if showNextButton}}
         <button onclick='loadPageOfItems("{{search}}",{{pageAmount}}, {{nextOffset}}, "{{sort}}")' class='btn btn-primary'>Next</button>
         {{/if}}
      </div>
   </div>
</div>
<script>
   function loadPageOfItems(search, amount, offset, sort){
      if (search != null && search != ""){
         Supermarket.loadPanel("item-management?search=" + search + "&amount=" + amount + "&offset=" + offset + "&sort=" + sort);
      } else {
         Supermarket.loadPanel("item-management?amount=" + amount + "&offset=" + offset + "&sort=" + sort);
      }
   }

   function sortItemsBy(sort){
      loadPageOfItems("{{search}}",{{pageAmount}},{{offset}},sort);
   }

   function onClickSearch(){
      var term = $("#search").val();
      Supermarket.loadPanel("item-management?search=" + term + "&amount={{pageAmount}}&offset=0");
   }

   $("#sort-{{sort}}").css("text-decoration","underline");
</script>
