<div class="panel panel-default text-center">
   <button class='btn btn-primary btn-large' onclick='Supermarket.loadPanel("transaction-details")'>Back</button>
   <hr>
   <h3>Pay Now</h3>
   <br>
   <h5>Please select payment method</h5>
   <br><br>
   <div class='row'>
   <div class='col-sm-4'>
      <div class='payment-method' payment-method="cash">
         <h2><i class="fa fa-usd" aria-hidden="true"></i></h2>
         <br>
         Cash
         <br>
         <small>${{formatDecimal transaction.total}}</small>
      </div>
   </div>
   <div class='col-sm-4'>
      <div class='payment-method' payment-method="card">
         <h2><i class="fa fa-credit-card" aria-hidden="true"></i></h2>
         <br>
         Card
         <br>
         <small>${{formatDecimal transaction.total}}</small>
      </div>
   </div>
   <div class='col-sm-4'>
      <div class='payment-method' payment-method="bitcoin">
         <h2><i class="fa fa-btc" aria-hidden="true"></i></h2>
         <br>
         Bitcoin
         <br>
         <small>{{formatBitcoin transaction.total}} BTC</small>
      </div>
   </div>
</div>
</div>
<script>
Supermarket.say("Your transaction comes to a total of {{sayPrice transaction.total}}. Please select your payment method");
$(".payment-method").click(function(){
   var method = $(this).attr("payment-method");
   Supermarket.payTransaction(method, function(){
      Supermarket.say("Thanks for shopping with RMIT Supermarket. Have a nice day");
      window.location.href = "/";
   });
});
</script>
