<button class='btn btn-primary' onclick='getPageOfUsers("{{search}}",{{pageAmount}},{{pageOffset}},"{{sort}}")'>Back</button>
<br><br>
<div class='row'>
   <div class='col-sm-9'>
      <h4>Create User</h4>
      <br>
      <div id='error-id-taken' class='alert alert-danger'>
         This ID is already being used by <b><span class='name'></span></b><br>
         Continuing to use this ID will overwrite that products information.
      </div>
      <br>
      <div id='form-holder'>

      </div>
      <div>
         <label for="sel1">User Access Level:</label>
         <select class="form-control" id="accessLevel">
         <option>Cashier</option>
         <option>Warehouse</option>
         <option>Manager</option>
      </select>
      <br>
      </div>
      <br><br>
   </div>
   <div class='col-sm-3'>
      <h5><b>User Actions</b></h5>
      <br><br>
      <button class='btn btn-success' onclick='onClickSave()'>Create User</button>
      <br><br>
      <img id="barcode"/>
   </div>
</div>
<script>
var user = {
   id: 0,
   userName:'',
   firstName: '',
   lastName:'',
   accessLevel:'',
};
var form = [
   {"id":"id", "name":"User ID", "type":"number"},
   {"id":"userName", "name":"User Login Name", "type":"text"},
   {"id":"firstName", "name":"First Name", "type":"text"},
   {"id":"lastName", "name":"Last Name", "type":"text"},
];
Supermarket.createForm("#form-holder", "user-form",form,user);
generateBarcode();

$("#id").keyup(function(){
   generateBarcode();
});

function generateBarcode(){
   if ($("#id").val().length > 0){
      if ($("#id").val().length == 13){
         $("#barcode").JsBarcode($("#id").val(), {format: "ean13"});
      } else {
         $("#barcode").JsBarcode($("#id").val());
      }
   }
}

function onClickSave(){
   var data = {};
   data.id = parseInt($("#id").val());
   data.userName = $("#userName").val()
   data.firstName = $("#firstName").val();
   data.lastName = $("#lastName").val();
   data.accessLevel = $("#accessLevel").val();

   console.log(data);
   console.log("User " + data.firstName + " Created");
   API.post("user/" + data.id + "/edit", data, function(){
      getPageOfUsers("{{search}}",{{pageAmount}},{{pageOffset}},"{{sort}}");
   });
}

function onClickDelete(){
   API.post("user/{{user.id}}/delete", {}, function(){
      getPageOfUsers("{{search}}",{{pageAmount}},{{pageOffset}},"{{sort}}");
   });
}

$("#error-id-taken").hide();
$("#id").change(function(){
   var id = parseInt($("#id").val());
   Supermarket.getUserByID(id, function (user){
      if (user.id != null){
         $("#error-id-taken .name").text(user.name);
         $("#error-id-taken").fadeIn();
      } else {
         $("#error-id-taken").fadeOut();
      }
   });
});
</script>
