
<!--Left Side-->
<div class="col-sm-6" id='panel-holder'>

</div><!--end Left Side-->


<!--Right Side-->
<div class="col-sm-6">
   <a href="../html/lookupItem.html"><button type="button" class="btn btn-info" id="itemLookup"><h4>Lookup Item</h4></button></a>
   <a href="../html/addItem.html"><button type="button" class="btn btn-info" id="addItem"><h4>Add Item</h4></button></a>
   <button type="button" class="btn btn-info" id="staffLoginAdd">
      <h5>Log in</h5>
   </button>
   <button type="button" class="btn btn-info" id="staffAlertAdd">
      <h5>Call a Staff Member</h5>
   </button>
</div><!--end Right Side-->
<script>
   Supermarket.loadPanel("transaction-details");
</script>
